blender-*
ckpts/
MVPainter/outputs/
MVPainter/results/
MVPainter/logs
data/
fixed_comparison_results/
comparison_results/
comparison_figures/
comparison_figures_new/
MVPainter/render_temp
# MVPainter/data
MVPainter/mvpainter/custom_rasterizer/build
MVPainter/mvpainter/custom_rasterizer/custom_rasterizer.egg-info
ossutil_output
mvpainter/custom_rasterizer/build/
mvpainter/differentiable_renderer/dist/
checkpoints/
PBR/
output/
mvpoutput/
blender-4.2.4-linux-x64/
blender-4.2.9-linux-x64/
MVPainter/output/
# *.png
# *.glb
*.pyc

*.so
*.o


